*{
	margin:0;
	padding:0;
	box-sizing:border-box;
    justify-content:left;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	vertical-align:middle;
    font-family:monospace;
    font-size: 12px;
}

@font-face {
    font-family: 'rbold';
    src: url('fonts/roboto-bold-webfont.woff2') format('woff2'),
         url('fonts/roboto-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rregular';
    src: url('fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family:"rlight";
	src:url("fonts/Roboto-Light.eot?") format("eot"),
	url("fonts/Roboto-Light.woff") format("woff"),
	url("fonts/Roboto-Light.ttf") format("truetype"),
	url("fonts/Roboto-Light.svg#Roboto-Light") format("svg");
	font-weight:normal;
	font-style:normal;
}

h1, h2, h3, h4, h5{margin:0; padding:0; text-transform:uppercase; font-weight:inherit;}
p{line-height:1.2em; font-size:1em; letter-spacing:0; color:#263238;}
a {text-decoration:none; color:#444;}
input,textarea, select {background:#EEEEEE;  text-transform: uppercase; } 
ul, li{list-style:none;}

/* Acesso, login, senha, usuário, usuario */
.linkAcesso1{
    background-color:#8dbeda; 
    margin-right: 40%;
    font-style: italic;
    text-align: center;
    font-size: 13px;
    color: yellow;
}

.primeiroAcesso{
    height: 50%;
    margin-left: 30%;
    margin-top: 10%;
    padding-left: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
    width: 35%;
    background-color:darkcyan;
}

 .frmLogin{
    text-transform: lowercase;
    margin-left: 35%;
    margin-top: 10%;
    padding-left: 7%;
    padding-top: 4%;
    border-style: solid;
    border-color: green;
    border-radius: 10px;
    width: 35%;
    height: 40%;
    background-image: url('../img/gps-pad.jpg');	
    background-size: 70%;
    background-repeat:no-repeat; 
    background-position:center;
    background-color:whitesmoke;
}

html{ /* Area  do arquivo template */
    height:90%; 
    width: 95%;
    margin-left: 2%;
    margin-right: 2%;
    background-color:beige;
    background-image: url('../img/gps-pad.jpg');	

}

.areaPrincipal{/* Area  do arquivo template */
    background-color:#ddd;
    height: 100%;
    margin-top: 1%;
    margin-bottom: 0%;
    margin-left: 2%;
    margin-right: 2%;
}

.menu{ /* Area  do arquivo template */
    display: flex;
    flex-wrap: wrap;
    margin-left: 0px;
    background-color: black;
}

.menu li a{ /* Area  do arquivo template */
    color: #fff;
    display:flex;
    font-size: 14px;
    margin-left: 20px;
}

.menu li a:hover{ /* Area  do arquivo template */
    background-color:blue;
    color: wheat;
    padding: 2px 5px 3px 5px;
    border-radius: 10px;
    }

/* home 
.mensagemExisteUsuario{
    background-color:#DBE06C;
    color:red;
    font-size: 14;
    font-style: italic;
    margin-right: 40%;
}


*/


/*
.paiPortaria{
   margin-top: 50px;
    margin-left: 350px;
    margin-right: 200px;
}
*/


/*.filho1 input[type=text]{
    width: 300px;
}
*/

.areaTrabalho{
    background-color:rebeccapurple;
    height: 85%;
    width: 100%;
    color: white;
    font-size: 16px;
 }

.superior{
    background-color:aqua;
    font-size: 12px;
    height: 15%;
    width: 96%;
    color:black;
    margin-right: 2%;
    margin-left: 2%;
}

.superiorAndamento{
    background-color:#ddd;
    font-size: 12px;
    height: 30%;
    width: 95%;
    color:black;
    margin-top: 1%;
    margin-right: 2%;
    margin-left: 2%;
    padding-left: 1%;
}

.base-home{ /* Area  dos arquivos views */
    background-color:darkslategray;
    width: 100%;
    height: 7%;
    margin-top: 0%;
    padding-top: 0.7%;
}

.titulo-pagina{
    font-weight: bolder;
    font-size: 20px;
    color:white;
    text-align: center;
    margin-top: 0px;
}

.col1{
    font-size: 20px;
    background-color:brown;
    width: 45%;
    height: 60%;
    margin-top: 1%;
    margin-left: 2%;
    margin-bottom: 0%;
    float: left;
    color: white;
}

.col2{
    font-size: 20px;
    width: 30%;
    height: 60%;
    margin-top: 1%;
    margin-bottom: 0%;
    background-color:azure;
    float: left;
    color:black;
}

.inferior{
    background-color:beige;
    height: 68%;
    width: 98%;
    margin-left: 2%;
}

.textOver{
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;
}

.textOver:hover{
    white-space: normal;
}

.textOverDenunciante{
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

table{
    width: 90%;
}

.tableResponsividade{
    overflow-x: auto;
 }

th, td{
    text-transform: uppercase;
    border-style:groove; 
}

    tr:nth-child(even){background-color:#ddd}
    tr:hover {background-color:lightblue; color:mediumblue;}
    th{background-color:darkslategray; color: whitesmoke;}


footer{
    background-color:dimgrey;
    color:white;
    font-family: sans-serif;
    position:static;
    z-index: 1;
    margin-top:0%;
    margin-left: 2%;
    width: 96%;
}
