*{
	margin:0;
	padding:0;
	box-sizing:border-box;
      justify-content:left;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	vertical-align:middle;
      font-family:monospace;
}

html{height:100%; width: 100%; background:#ddd url(../img/fundo.png) fixed no-repeat center; background-size:100%;}
h1, h2, h3, h4, h5{margin:0; padding:0; text-transform:uppercase; font-weight:inherit;}
p{line-height:1.2em; font-size:1em; letter-spacing:0; color:#263238;}
a {text-decoration:none; color:#444;}
input,textarea, select {background:#EEEEEE;  text-transform: uppercase;}
input[type=image]{border:0;}
input[type=date], select{padding:2px}
select{height: 35px;}
ul, li{list-style:none;}

@font-face {
    font-family: 'rbold';
    src: url('fonts/roboto-bold-webfont.woff2') format('woff2'),
         url('fonts/roboto-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rregular';
    src: url('fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family:"rlight";
	src:url("fonts/Roboto-Light.eot?") format("eot"),
	url("fonts/Roboto-Light.woff") format("woff"),
	url("fonts/Roboto-Light.ttf") format("truetype"),
	url("fonts/Roboto-Light.svg#Roboto-Light") format("svg");
	font-weight:normal;
	font-style:normal;
}
.base-home{
    background-color:darkslategray;
    width: 100%;
    height: 7%;
    margin-top: 0%;
    padding-top: 0.7%;
}
.titulo-pagina{
    font-weight: bolder;
    font-size: 20px;
    color:white;
    text-align: center;
    margin-top: 0px;
}

.container{
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: 1fr; /* Divide a DIV em duas colunas: A primeira com três frações do espaço total da tela e a segunda coluna com uma fração */
    grid-template-rows: 10vh 40vh 10vh; /* Especifica a altura das 3 linhas: 1ª coluna com 20 Visão de Heigth; a segunda 70 VH e a termeira 20 VH  */
    grid-template-areas: "header header" /* Pode ser qualquer nome porque será relacionado com teg que eu quero. especificado aqui linha 1 nas duas colunas */
                         "main" /* Especificado aqui linha 2 na coluna 1 main e na coluna 2 o aside */
                         "footer" /* Especificado aqui linha 3 nas duas colunas o footer */
  
}

.pai{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 8vh;
    grid-template-areas: 'filho1 filho2';
}

.filho1{
    grid-area: filho1;
}

.filho1 input[type=text]{
    width: 300px;
}

.filho2{
    display: grid;
    grid-area: filho2;
    margin-left: 30%;

}

header{
    /*grid-column-start: 1;  Coluna da grid começa na linha divisória da coluna 1 */
    /*grid-column-end: 3;   Coluna da grid termina na linha divisória da coluna  3*/
    grid-area: header;

    width: 100%;
    height: 7%;
    margin-bottom: 0.3%;
    background-color:#101010;
    box-shadow: 0px 5px 20px #000;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

 main{
    background-color:whitesmoke;
    grid-area: main;
    height: 90%;
}

footer{
    background-color:darkslategray;
    grid-area: footer;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    color: thistle;
    position: relative;
    float: inline-end;
}

h1{
    color: #ffff;
    text-align: center;
    margin-top: 20px;
}

.logo{
    width: 40px;
    height: 30px;
    margin-top: 0px;
    border-radius: 10%;
    background-color:cornsilk;
}

.menu{
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    margin-left: 20px;
    background-color: black;
}

.menu li a{
    color: #fff;
    display:flex ;
    margin-left: 20px;
}

.menu li a:hover{
    background-color:blue;
    color: wheat;
    padding: 2px 5px 3px 5px;
    border-radius: 10px;
    }


.div-titulo{
    background-color:royalblue;
    width: 100%;
    height: 7%;
    margin-top: 0%;
    padding-top: 0.5%;
}

.imagem{
    width: 80%;
    height: 80%;
    margin-top: auto;
}

li{
    line-height: 30px;
    text-align:left;
}

.menu li a{
  padding-left: 0px;
  color:#ddd;
  display: flex;
  flex: 1;

}


.menu li a:hover{
    background-color:royalblue;
    font-size: 16px;
}



/* form{
    background-color:lightsteelblue;
    width: 70%;
    position: absolute;
    top:20%;
    left: 70px;
    margin-bottom: 20px;
}
 */
/* form.pesquisa{
    background-color: silver;
    width: 10px;
    height: 10px;
    margin-left: 2%;
    top:17%;
    left: 15%;
}
 */
form.form2{
    background-color:blanchedalmond;
    width: 70%;
    height: auto;
    margin-left: 6%;
    top:350px;
    left: 15%;
}

textarea{
    padding: 2%;
}

label, input{
    border-radius: 0%;
    background-color:lightcyan;
    margin: 5px;
    padding: 5px;
    font-weight: bold;
    text-transform: capitalize;
}

#txt_id{
    width: 60px;
    text-align: center;
}

.base-lista{
    width: 100%;
    text-align: center;
    background-color:lavender;
}

.base-lista2{
    width: 80%;
    margin-top: 8%;
    margin-left: 17%;
    background-color:gainsboro;
    text-align: center;
}


input[type="number"]{
    width: auto;
    text-align: center;
}

input.pesquisa{
    width: 500px;
    text-align: center;
    padding: 2px;

}

input[type="text"]{
    text-align: left;
    color: blue;
}

input[type="date"]{
    width: 160px;
}

#cpf{
    width: 120px;
}

#matricula{
    width: 100px;
    text-align: center;
}


fieldset{
    border-color:black;
    margin-left: 3%;
    margin-top: 1%;
    width: 90%;
}

legend{
    color:black;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}


#vinculo{
    width: 180px;
}

#secretaria{
    width: 333px;
    float: left;
} 

.unidade{
    float: left;
}

#unidade{
    width: 790px;
}

.centraliza{
    margin-left: 100px;
}

.obs{
    float: auto;
    width: 200px;
    margin-top: 60px;
}

span{
    font-size: 30px;
    background-color:#DBE06C;
    border-radius: 50%;
    color: green;
}

.span{
    font-size: 20px;
    font-weight: bolder;
    color:gainsboro;
    padding-left: 200px;
    text-align: center;
}

.titulo{
  display:block;
  padding:0px;
  color:blanchedalmond;
  font-weight:inherit;
  font-size:1.4em;
  text-transform:uppercase;
}

.tema.cor{
  color:floralwhite;
  position:relative;
  top:-3px;
    font-weight:inherit;
  font-size:1.4em;
  text-transform:uppercase;

}
/* 
.rodape{
    margin-top: 714px;
    width: 100%;
    height: 29px;
    padding-left: 450px;
    color:red;
    background-color:darkslategray;
}
 */
    table {
          border-collapse: collapse;
          width: 95%;
          margin-left: 30px;
          margin-right: 10px;
    }

    table.paginacao{
        border-collapse:separate;
        width: 95%;
        margin-left: 30px;
        margin-right: 10px;
        vertical-align:auto;
        background-color: cadetblue;

    }
    table.tabServidor{
        border-collapse:separate;
        width: 80%;
        background-color: cadetblue;

    }

      
      th, td {
          text-align: left;
          padding: 2px;
}
      tr:nth-child(even){background-color:#ddd}
      tr:hover {background-color:lightblue; color:mediumblue;}
      th{background-color:darkslategray; color: whitesmoke;}

.btn{
    width: 80px;
    height: 30px;
    margin-left: 10px;
    margin-top: 5px;
    border-radius: 4px;
    border-color:darkslategray;
    border-style:groove;
    text-align: center;
    box-shadow: 3px 6px #888888;
    text-transform: uppercase;
    float: left;
}

.btn_limpar{
    border-radius: 4px;
    border-color:darkslategray;
    border-style: solid;
    text-align: center;
    text-transform: uppercase;
}

.btn:hover{
    width: 90px;
    height: 40px;
    background-color:royalblue;
    color: white;
    border-radius: 8px;
    border-color:white;
    border-style: solid;
    text-align: center;
}

.btn-inc{
    width: 100px;
    height: 28px;
    margin-top: 5%;
    color: black;
    border-color:royalblue;
    border-style: solid;
    padding-top: 3%;
    text-align: center;
    font-weight: bold;
    box-shadow: 3px 6px #888888;
}

.btn-voltar{
    margin-top: 70px;
    width: 170px;
    height: 40px;
    float: left;
    color: black;
    border-radius: 10px;
    border-color:royalblue;
    border-style: solid;
    padding-top: 8px;
    text-align: center;
    box-shadow: 3px 6px #888888;
    text-transform: uppercase;
}

.btn-inc:hover{
    color:white;
    width: 100px;
    height: 30px;
    background-color:royalblue;
    border-color:white;
    font-size: 18px;
}

.btn-excluir{
    width: 80px;
    height: 30px;
    color:blue;
    border-radius: 5px;
    border-style: solid;
    padding-top: 2px;
    text-align: center;
    text-transform: uppercase;
    box-shadow: 3px 6px #888888;

}

.btn-excluir:hover{
    width: 80px;
    height: 30px;
    background-color:greenyellow;
    border-color:red;
    color:white;
    font-size: 15px;
}

.btn-editar{
    width: 80px;
    height: 30px;
    color:blue;
    border-radius: 5px;
    border-style: solid;
    padding-top: 2px;
    text-align: center;
    text-transform: uppercase;
}


.btn-editar:hover{
    width: 83px;
    height: 33px;
    background-color:lightslategray;
    border-color:darkgreen;
    color:white;
    font-size: 18px;
}

.txt-obs{
  display:block;
    float: left;
  padding:10px;
  border-radius:09px;
  -webkit-border-radius:9px;
  -moz-border-radius:9px;
  -moz-border-radius:9px;
  -o-border-radius:9px;
  color:black;
  background:cornsilk;
  font-size:.9em;
}

.img{
    width: 30%;
    height: 20%;
    margin:auto;
    margin-top: 15%;

}

.denuncia{
    margin-top: 4px;
}


.msg{
    margin-top: 100px;
    margin-left: 200px;
    width: 80%;
    background-color: yellowgreen;
    position: absolute;
    font-size: 30px;
    color: red;
}

.data{
    background-color:silver;
    width: 50%;
} 

.txt_numero_processo{
    width: 10%;
}

.id_denuncia{
    width: 100%;
}

.id_pp_denuncia{
    width: 750px;
}

.num_processo{
    margin-left: 2px;
    position: absolute;
    margin-top: 10px;
}

.faseLbl{
    position: absolute;
}

.faselst{
    position: relative;
    margin-left: 47px;
}

.btnAnexo{
    margin-top: 112px;
    width: 360px;
    height: 30px;
}

.lblAnexo{
    margin-top: 112px;
    width: 60px;
    height: 30px;
}

.txtArea{
    margin-left: 3px;
    position: absolute;
}

.denuncianteTab{
    width: 90%;
} 

.btnsDenuncia{
    height: 70px;
}

.btnDenuncia{
    width: 80px;
    height: 30px;
    color:blue;
    border-radius: 5px;
    border-style: solid;
    padding-top: 2px;
    text-align: center;
    text-transform: uppercase;
    box-shadow: 3px 6px #888888;

}

.btn_limpar_denuncia{
    width: 80px;
    height: 30px;
    color:blue;
    border-radius: 5px;
    border-style: solid;
    padding-top: 2px;
    text-align: center;
    text-transform: uppercase;
}

.dtEncerramento{
    margin-top: 130px;
    width: 400px;
    height: 30px;
}

.tabela_ocorrencia{
    margin-left: 20px;
    margin-right: 15px;
    margin-top: 20px;
    border-color: white; 
}


.fase{
    width: 20%; 
}

.tela{
    position: absolute;
    z-index: 10;
    width: 100px;
    height: 40px;
    margin-left: 200px;
    background-color: red;

}

.txt_ocorrencia{
    width: 690px;

}

.txt_observacao{
    width: 780px;

}

.btn-portaria{
    width: 80px;
    height: 30px;
    color:blue;
    border-radius: 5px;
    border-style: solid;
    padding-top: 2px;
    text-align: center;
    text-transform: uppercase;
    box-shadow: 3px 6px #888888;

}

.btn-portaria:hover{
    height: 35px;
    background-color:khaki;
    color:lightgreen;
}

.btn-ocorrencia{
    width: 85px;
    height: 30px;
    color:blue;
    border-radius: 5px;
    border-style: solid;
    padding-top: 2px;
    text-align: center;
    text-transform: uppercase;
    box-shadow: 3px 6px #888888;

}

.btn-ocorrencia:hover{
    height: 35px;
    background-color:whitesmoke;
    color:yellow;
}

.obs-portaria{
    float: auto;
    width: 200px;
    margin-top: 60px;
}

.upload{
    margin-top: 15%;
    margin-left: 300px;
    width: 1000px;
    background-color: #DBE06C;
    box-shadow: 3px 6px #888888;

}

.erros{
    width: 600px;
    margin-left: 400px;
    float: left;
    margin-top: 200px;
    margin-bottom: auto;
    height: 100px;
    background-color:yellow;
    color: red;
    display: block;
}

.containerForm{
    width:100%;
    background-color: red;
    margin-top: 80px;
    margin-left: 250px;
}

.containerPesqusa{
    margin-top: 15%; 
}

.text{
    color:white;
    background-color: red;
}

.processarServidor{
    display: block;
    height: auto;
    width: auto;
    margin-top: 300px;
    margin-bottom: auto;
    margin-left: 250px;
    background-color:hotpink;
}

.processarServidorTabela{
    display: block;
    height: auto;
    width: auto;
    margin-top: 100px;
    background-color:darkgoldenrod;
}

.div1{
    width: 100%;
    height: 22%;
    background-color: whitesmoke;
}

.div2{
    width: 100%;
    margin-top: 1%;
    height: 10%;
    background-color: whitesmoke;
}     

.div2.processarServidorFormulario{
    margin-left: 0px;
}

.div3{
    width: 100%;
    margin-top: 2%;
    height: 0px;
    margin-left: 40px;
    background-color: whitesmoke;
}

 .div4{
    margin-top: 10px;
    background-color: whitesmoke;
    width: 100%;

}

.principal{
    margin-top: 50px;
}

.consulta{
    background-color:beige;
}

.fim{
    height: 50px;
    width: auto;
}

.frmConsulta{
    background-color:lightgrey;
}

.pesquisa{
    grid-area: pesquisa;


}

.incluir{
    grid-area: incluir;
    background-color:yellow;
    text-align: center;
    align-content: center;
}

.excluir{
    grid-area: excluir;
    background-color:green;
    text-align: center;
    align-content: center;
}


.frmConsulta input[type=text]{
    width: 300px;
}

.frmConsulta input[type=submit]{
    width: 150px;
}

.labelPesquisa{
    float: left;
}

.paginacao{
    background-color:lightcyan;
    margin-left: 3%;
    margin-right: 3%;
    text-align: left;
}
.paginacao:hover{
    background-color:lightsteelblue;
}

.prazo{
    background-color: red;
    color: white;
    font-size: 14px;
}

.denunciados{
    background-color: darkslategray;
    color: white;
    font-size: 14px;
}

.cabecalhoForm{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: "id_denuncia fase";
    background-color:#888888;
    
}

.id_denuncia{
    display: grid;
    grid-area: id_denuncia;
    height: 20px;
}

.fase{
    display: grid;
    grid-area: fase;
}


@media only screen and (max-width: 800px){
    .menu{
        position:absolute;
        margin-left: 0;
        color:tomato;
        width: 90%;
        background-color:cadetblue;
        font-size: 15px;
    }

    .logo{
        width: 22px;
        height: 22px;
        border-radius: 5%;
        background-color:cyan;
        }
               
        .base-home{
            background-color:royalblue;
            width: 100%;
            height: 9%;
            margin-top: 0%;
        }

        
        @media only screen and (max-height: 500px){
            footer{
                grid-area: footer;
                display: grid;
                grid-row-end: auto;
                font-family: sans-serif;
                color:white;
                position: absolute;
                background-color:black;
            }
        
            table tr td{
                display:block;
                background-color: #101010;
                color: green;

        }
    }
}
 