*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	vertical-align:middle;
}

.base-topo{
      background-color:darkslategray;
      float: left;
      width: 100%;
      height: 10%;
      padding: 2%;
}


.container{
      background-color:silver;
      float: left;
      width: 100%;
      height: 100%;

}

.imagem{
      width: 700px;
      height: 150px;
      margin-top: 90px;
}

.base-home{
      position: absolute;
      z-index: 5;
      background-color:royalblue;
      width: 85%;
      height: 5%;
      margin-top: 70px;
      margin-left: 0%;
      left: 15%;
}

.menu{
      background-color:darkslategray;
      color:greenyellow;
      width: 15%;
      height: 100%;
      padding-top: 10%;
      padding-left: 2%;
      text-transform:uppercase;
      position: absolute;
}

li{
      list-style: none;
      line-height: 30px;
      text-align:left;
      color: white;

}

.menu li a{
	padding-left: 0px;
	color:#ddd;

}


.menu li a:hove{
      background-color:royalblue;
      font-size: 18px;
}


a:link{
      text-decoration: none;
}

form{
      background-color:royalblue;
      width: 80%;
      margin-left: 2%;
      position: absolute;
      top:20%;
      left: 15%;
}

label, input{
      border-radius: 5px;
      float: left;
      background-color:lightcyan;
      padding: 5px;
      margin-top: 5px;
      margin-left: 4px;
      margin-bottom: 3px;
      border:none;      
      font-weight: bold;
      font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      text-transform: capitalize;
      color: blue;

}

#txt_id{
      width: 60px;
      text-align: center;
}

.base-lista{
      width: 80%;
      margin-top: 9%;
      margin-left: 16%;
      background-color:gainsboro;
      text-align: center;
 }

input{
      height: 25px;
      color: black;
}

input[type="number"]{
      width: 80px;
      text-align: center;
}

input[type="date"]{
      width: 160px;
}

#cpf{
      width: 120px;
}

#matricula{
      width: 100px;
      text-align: center;
}


fieldset{
      border-color:mediumseagreen;
      margin-left: 50px;
      margin-top: 15px;
      width: 90%;
}

legend{
      color:black;
}


#vinculo{
      width: 180px;
}

#secretaria{
      width: 333px;
      float: left;
} 

.unidade{
      float: left;
}

#unidade{
      width: 790px;
}

.centraliza{
      margin-left: 100px;
}
.obs{
      float: auto;
      width: 200px;
      margin-top: 60px;
}

span{
      color: blue;
      font-size: 30px;
      background-color:cadetblue;
}

.span{
      font-size: 20px;
      font-weight: bolder;
      color:gainsboro;
      padding-left: 200px;
      text-align: center;
}

.titulo-pagina{
      font-weight: bolder;
      font-size: 23px;
      color:whitesmoke;
      width: 100%;
      text-align: center;
      margin-left: 0px;
      margin-top: 10px; 
}

.titulo{
	display:block;
	padding:0px 0;
	color:#323232;
	font-weight:inherit;
	font-size:1.4em;
	text-transform:uppercase;
}

.tema .cor{
	color:floralwhite;
	position:relative;
	top:-3px;
      font-weight:inherit;
	font-size:1.4em;
	text-transform:uppercase;

}

.rodape{
      margin-top: 714px;
      width: 100%;
      height: 29px;
      padding-left: 450px;
      color:red;
      background-color:darkslategray;
}

.minhaTabela{
	width: 100%;
	padding:4px;
	text-transform:uppercase;
	color:#20202F;
	background:slategray;
	font-size: 10px;
	text-align: center;
}

.btn{
      width: 120px;
      height: 40px;
      margin-left: 10px;
      margin-top: 112px;
      border-radius: 4px;
      border-color:springgreen;
      border-style: solid;
      text-align: center;
      text-transform: uppercase;
}

.btn_limpar{
      width: 120px;
      height: 40px;
      margin-left: 10px;
      margin-top: 112px;
      border-radius: 4px;
      border-color:springgreen;
      border-style: solid;
      text-align: center;
      text-transform: uppercase;
}

.btn:hove{
      width: 130px;
      height: 50px;
      background-color:royalblue;
      color: white;
      border-radius: 8px;
      border-color:white;
      border-style: solid;
      text-align: center;
}

.btn-inc{
      width: 120px;
      height: 40px;
      background-color: blue;
      color: white;
      border-radius: 10px;
      border-color:royalblue;
      border-style: solid;
      padding-top: 8px;
      text-align: center;
      text-transform: uppercase;
}

.btn-inc a{
      color: white;
}

.btn-inc:hove{
      width: 130px;
      height: 45px;
      background-color:royalblue;
      border-color:blue;
      font-size: 20px;
}

.btn-excluir{
      width: 80px;
      height: 40px;
      background-color:#DBE06C;
      color:crimson;
      border-radius: 5px;
      border-style: solid;
      padding-top: 2px;
      text-align: center;
      text-transform: uppercase;
}

.btn-excluir a{
      color: red;
}

.btn-excluir:hove{
      width: 100px;
      height: 50px;
      background-color:greenyellow;
      border-color: yellow;
      color:white;
      font-size: 16px;
}

.btn-editar{
      width: 80px;
      height: 40px;
      background-color:darkcyan;
      color:black;
      border-radius: 3px;
      border-style: solid;
      padding-top: 2px;
      text-align: center;
      text-transform: uppercase;
}

.btn-editar a{
      color:yellow;
}

.btn-editar:hove{
      width: 85px;
      height: 55px;
      background-color:darkblue;
      border-color:darkgreen;
      color:white;
      font-size: 18px;
}

.tabela {
      --bs-table-bg: transparent;
      --bs-table-accent-bg: transparent;
      --bs-table-striped-color: #212529;
      --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
      --bs-table-active-color: #212529;
      --bs-table-active-bg: rgba(0, 0, 0, 0.1);
      --bs-table-hove-color: #212529;
      --bs-table-hove-bg: rgba(0, 0, 0, 0.075);
      width: 100%;
      margin-bottom: 1rem;
      color:indianred;
      vertical-align: top;
      border-color: #dee2e6;
}


.txt-obs{
	display:block;
      float: left;
	padding:10px;
	border-radius:09px;
	-webkit-border-radius:9px;
	-moz-border-radius:9px;
	-moz-border-radius:9px;
	-o-border-radius:9px;
	color:black;
	background:cornsilk;
	font-size:.9em;
}

.img{
      margin-left: 150px;
      margin-top: 50px;
}

.denuncia{
      margin-top: 4px;
}


.observacao{
      margin-left: 188px;
}

select{
      height: 30px;
      width: 220px;
      margin-top: 5px;
      background-color:cornsilk;
}

.msg{
      margin-top: 100px;
      margin-left: 200px;
      width: 80%;
      background-color: yellowgreen;
      position: absolute;
      font-size: 30px;
      color: red;
}

.data{
      background-color:silver;
      width: 50%;
} 

.txt_numero_processo{
      width: 10%;
}

.id_denuncia{
      width: 100%;
}

.id_pp_denuncia{
      width: 750px;
}

.id_pp_sind{
      float: left;
      margin-left: -124px;
      width: 400px;
      margin-bottom: 50px;
}

.id_pp_sind_select{
      width: 475px;
}

.num_processo{
      margin-left: 2px;
      position: absolute;
      margin-top: 10px;
}

.faseLbl{
      position: absolute;
}

.faselst{
      position: relative;
      margin-left: 47px;
}

.btnAnexo{
      margin-top: 112px;
      width: 360px;
      height: 30px;
}

.lblAnexo{
      margin-top: 112px;
      width: 60px;
      height: 30px;
}

.txtArea{
      margin-left: 3px;
      position: absolute;
}

.denuncianteTab{
      width: 90%;
} 

.btnsDenuncia{
      height: 70px;
}

.btnDenuncia{
      width: 120px;
      height: 40px;
      margin-left: 10px;
      border-radius: 4px;
      border-color:springgreen;
      border-style: solid;
      text-align: center;
      text-transform: uppercase;
}

.btn_limpar_denuncia{
      width: 120px;
      height: 40px;
      margin-left: 10px;
      border-radius: 4px;
      border-color:springgreen;
      border-style: solid;
      text-align: center;
      text-transform: uppercase;
}
 
.dtEncerramento{
      margin-top: 130px;
      width: 400px;
      height: 30px;
}

.tabela_ocorrencia{
      
      margin-left: 10px;
      margin-top: 20px;
      border-color: white; 
}

.frmConsulta{
      position: absolute;
      z-index: 1;
      background-color: blanchedalmond;
      width: 560px;
      margin-top: 110px;
      margin-left: 100px;

}

.btn-inc-ocorrencia{
      width: 200px;
      height: 30px;
      vertical-align: middle;
      background-color:green;
      color: white;      
      border-radius: 3px;
      border-style: solid;
      padding-top: 2px;
      text-align: center;
      text-transform: uppercase;
}

.btn-inc-ocorrencia:hove{
      width: 130px;
      height: 60px;
      background-color:khaki;
      color:ghostwhite;
      border-radius: 8px;
      border-color:green;
      border-style: solid;
      text-align: center;
}

.fase{
      width: 20%; 
}

.tela{
      position: absolute;
      z-index: 10;
      width: 100px;
      height: 40px;
      margin-left: 200px;
      background-color: red;

}

.txt_ocorrencia{
      width: 690px;

}

.txt_observacao{
      width: 780px;

}

.btn-portaria{
      height: 40px;
      background-color:darkkhaki;
      color:black;
      border-radius: 3px;
      border-style: solid;
      padding-top: 2px;
      text-align: center;
      text-transform: uppercase;
}

.btn-portaria:hove{
      height: 50px;
      background-color:khaki;
      color:lightgreen;
}

.btn-ocorrencia{
      height: 40px;
      background-color:cadetblue;
      color:blue;
      border-radius: 3px;
      border-style: solid;
      padding-top: 2px;
      text-align: center;
      text-transform: uppercase;
      background-color:cadetblue;
}

.btn-ocorrencia:hove{
      height: 50px;
      background-color:whitesmoke;
      color:yellow;
}

.obs-portaria{
      float: auto;
      width: 200px;
      margin-top: 60px;
}

.upload{
      margin-top: 80px;
      margin-left: 200px;
      width: 800px;
      background-color: #DBE06C;
}

.erros{
      width: 600px;
      margin-left: 400px;
      float: left;
      margin-top: 200px;
      margin-bottom: auto;
      height: 100px;
      background-color:yellow;
      color: red;
      display: block;
      position: absolute;
      
}

.containerPesqusa{
      background-color: blueviolet;
      width: 100%;

}