*{
	margin:0;
	padding:0;
	box-sizing:border-box;
      justify-content:left;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	vertical-align:middle;
      font-family:monospace;
}

html{height:100%; width: 100%; background:#ddd url(../img/fundo.png) fixed no-repeat center; background-size:100%;}
h1, h2, h3, h4, h5{margin:0; padding:0; text-transform:uppercase; font-weight:inherit;}
p{line-height:1.2em; font-size:1em; letter-spacing:0; color:#263238;}
a {text-decoration:none; color:#444;}
input,textarea, select {background:#EEEEEE;  text-transform: uppercase;}
input[type=image]{border:0;}
input[type=date], select{padding:2px}
ul ,li{list-style:none;}

@font-face {
    font-family: 'rbold';
    src: url('fonts/roboto-bold-webfont.woff2') format('woff2'),
         url('fonts/roboto-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rregular';
    src: url('fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family:"rlight";
	src:url("fonts/Roboto-Light.eot?") format("eot"),
	url("fonts/Roboto-Light.woff") format("woff"),
	url("fonts/Roboto-Light.ttf") format("truetype"),
	url("fonts/Roboto-Light.svg#Roboto-Light") format("svg");
	font-weight:normal;
	font-style:normal;
}

.base-topo{
      background-color:darkslategray;
      float: left;
      width: 100%;
      height: 10%;
      padding: 2%;
}

body{
    width: 100%;
    height: 100%;
    background-color:azure;
}

header{
    width: 100%;
    height: 70px;
    background-color:#101010;
    box-shadow: 0px 5px 20px #000;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
/*     justify-content: space-between;
 */
}

h1{
    color: #ffff;
    text-align: center;
    margin-top: 20px;
}

.logo{
    width: 45px;
    height: 45px;
    border-radius: 10%;
    background-color: #ccc;
}

ul{
    list-style: none;
}

.menu{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    margin-left: 20px;
}

.menu li a{
    color: #fff;
    display: block;
    text-decoration-style: nome;
    margin-left: 20px;
}

.menu li a:hover{
    background-color:blue;
    color: wheat;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    }

.container{
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.container div{
   /*  
   flex: 1 1 300px;
   flex: 1 //Este é o flex grow - cresce o elemento na tela  quando altera o tamanho da tela
   flex: 1 1 //Este é o shrink - encolhe o tamanho do elemento na tela quando altera o tamanho da tela
   flex: 1 1 300px //Este é o basis - Define o tamanho padrão para um elemento antes que o espaço remanescente do container seja distribuído
 */
 flex: 1 1 800px;
}

 img{
     width: 100%;
     border-radius: 10px;
 }   

 
.imagem{
    width: 700px;
    height: 150px;
    margin-top: 90px;
}

.base-home{
    background-color:royalblue;
    width: 100%;
    height: 5%;
    margin-top: 1%;
}

li{
    list-style: none;
    line-height: 30px;
    text-align:left;
    color: white;

}

.menu li a{
  padding-left: 0px;
  color:#ddd;

}


.menu li a:hover{
    background-color:royalblue;
    font-size: 20px;
}


a:link{
    text-decoration: none;
}

form{
    background-color:lightsteelblue;
    width: 80%;
    position: absolute;
    top:20%;
}

form.pesquisa{
    background-color: silver;
    width: 10px;
    height: 10px;
    margin-left: 2%;
    top:17%;
    left: 15%;
}

form.form2{
    background-color:blanchedalmond;
    width: 70%;
    height: auto;
    margin-left: 6%;
    top:350px;
    left: 15%;
}

textarea{
    padding: 2%;
}

label, input{
    border-radius: 2%;
    background-color:lightcyan;
    margin: 5px;
    padding: 10px;
    font-weight: bold;
    text-transform: capitalize;
}

#txt_id{
    width: 60px;
    text-align: center;
}

.base-lista{
    width: 100%;
    margin-top: 2%;
    background-color:;
    text-align: center;
}

.base-lista2{
    width: 80%;
    margin-top: 8%;
    margin-left: 17%;
    background-color:gainsboro;
    text-align: center;
}


input[type="number"]{
    width: 100px;
    text-align: center;
}

input.pesquisa{
    width: 500px;
    text-align: center;
    padding: 2px;

}

input[type="text"]{
    text-align: left;
}

input[type="date"]{
    width: 160px;
}

#cpf{
    width: 120px;
}

#matricula{
    width: 100px;
    text-align: center;
}


fieldset{
    border-color:black;
    margin-left: 50px;
    margin-top: 15px;
    width: 90%;
}

legend{
    color:black;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}


#vinculo{
    width: 180px;
}

#secretaria{
    width: 333px;
    float: left;
} 

.unidade{
    float: left;
}

#unidade{
    width: 790px;
}

.centraliza{
    margin-left: 100px;
}

.obs{
    float: auto;
    width: 200px;
    margin-top: 60px;
}

span{
    font-size: 30px;
    background-color:#DBE06C;
    border-radius: 50%;
    color: green;
}

.span{
    font-size: 20px;
    font-weight: bolder;
    color:gainsboro;
    padding-left: 200px;
    text-align: center;
}

.titulo-pagina{
    font-weight: bolder;
    font-size: 23px;
    color:whitesmoke;
    width: 100%;
    text-align: center;
    margin-left: 0px;
    margin-top: 10px; 
}

.titulo{
  display:block;
  padding:0px 0;
  color:#323232;
  font-weight:inherit;
  font-size:1.4em;
  text-transform:uppercase;
}

.tema .cor{
  color:floralwhite;
  position:relative;
  top:-3px;
    font-weight:inherit;
  font-size:1.4em;
  text-transform:uppercase;

}

.rodape{
    margin-top: 714px;
    width: 100%;
    height: 29px;
    padding-left: 450px;
    color:red;
    background-color:darkslategray;
}

    table {
          border-collapse: collapse;
          width: 100%;
          vertical-align: var(--bs-table-active-color);
    }
      
      th, td {
          text-align: left;
          padding: 2px;
}
      tr:nth-child(even){background-color:#ddd}
      tr:hover {background-color:lightblue; color:mediumblue;  font-size: 14px;}
      th{background-color:darkslategray; color: whitesmoke;}

.btn{
    width: 80px;
    height: 30px;
    margin-left: 10px;
    margin-top: 5px;
    border-radius: 4px;
    border-color:darkslategray;
    border-style:groove;
    text-align: center;
    box-shadow: 3px 6px #888888;
    text-transform: uppercase;
    float: left;
}

.btn_limpar{
    border-radius: 4px;
    border-color:darkslategray;
    border-style: solid;
    text-align: center;
    text-transform: uppercase;
}

.btn:hover{
    width: 90px;
    height: 40px;
    background-color:royalblue;
    color: white;
    border-radius: 8px;
    border-color:white;
    border-style: solid;
    text-align: center;
}

.btn-inc{
    width: 100px;
    height: 40px;
    float: left;
    color: black;
    border-radius: 10px;
    border-color:royalblue;
    border-style: solid;
    padding-top: 8px;
    text-align: center;
    box-shadow: 3px 6px #888888;
    text-transform: uppercase;
}

.btn-voltar{
    margin-top: 70px;
    width: 170px;
    height: 40px;
    float: left;
    color: black;
    border-radius: 10px;
    border-color:royalblue;
    border-style: solid;
    padding-top: 8px;
    text-align: center;
    box-shadow: 3px 6px #888888;
    text-transform: uppercase;
}

.btn-inc:hover{
    color:white;
    width: 100px;
    height: 45px;
    background-color:royalblue;
    border-color:white;
    font-size: 20px;
}

.btn-excluir{
    width: 80px;
    height: 30px;
    color:blue;
    border-radius: 5px;
    border-style: solid;
    padding-top: 2px;
    text-align: center;
    text-transform: uppercase;
    box-shadow: 3px 6px #888888;

}

.btn-excluir:hover{
    width: 85px;
    height: 40px;
    background-color:greenyellow;
    border-color:red;
    color:white;
    font-size: 15px;
}

.btn-editar{
    width: 80px;
    height: 30px;
    color:blue;
    border-radius: 5px;
    border-style: solid;
    padding-top: 2px;
    text-align: center;
    text-transform: uppercase;
    box-shadow: 3px 6px #888888;

}


.btn-editar:hover{
    width: 85px;
    height: 40px;
    background-color:lightslategray;
    border-color:darkgreen;
    color:white;
    font-size: 18px;
}

.txt-obs{
  display:block;
    float: left;
  padding:10px;
  border-radius:09px;
  -webkit-border-radius:9px;
  -moz-border-radius:9px;
  -moz-border-radius:9px;
  -o-border-radius:9px;
  color:black;
  background:cornsilk;
  font-size:.9em;
}

.img{
    margin-left: 150px;
    margin-top: 50px;
}

.denuncia{
    margin-top: 4px;
}


.msg{
    margin-top: 100px;
    margin-left: 200px;
    width: 80%;
    background-color: yellowgreen;
    position: absolute;
    font-size: 30px;
    color: red;
}

.data{
    background-color:silver;
    width: 50%;
} 

.txt_numero_processo{
    width: 10%;
}

.id_denuncia{
    width: 100%;
}

.id_pp_denuncia{
    width: 750px;
}

.num_processo{
    margin-left: 2px;
    position: absolute;
    margin-top: 10px;
}

.faseLbl{
    position: absolute;
}

.faselst{
    position: relative;
    margin-left: 47px;
}

.btnAnexo{
    margin-top: 112px;
    width: 360px;
    height: 30px;
}

.lblAnexo{
    margin-top: 112px;
    width: 60px;
    height: 30px;
}

.txtArea{
    margin-left: 3px;
    position: absolute;
}

.denuncianteTab{
    width: 90%;
} 

.btnsDenuncia{
    height: 70px;
}

.btnDenuncia{
    width: 80px;
    height: 30px;
    color:blue;
    border-radius: 5px;
    border-style: solid;
    padding-top: 2px;
    text-align: center;
    text-transform: uppercase;
    box-shadow: 3px 6px #888888;

}

.btn_limpar_denuncia{
    width: 80px;
    height: 30px;
    color:blue;
    border-radius: 5px;
    border-style: solid;
    padding-top: 2px;
    text-align: center;
    text-transform: uppercase;
}

.dtEncerramento{
    margin-top: 130px;
    width: 400px;
    height: 30px;
}

.tabela_ocorrencia{
   
    margin-left: 20px;
    margin-right: 15px;
    margin-top: 20px;
    border-color: white; 
}


.fase{
    width: 20%; 
}

.tela{
    position: absolute;
    z-index: 10;
    width: 100px;
    height: 40px;
    margin-left: 200px;
    background-color: red;

}

.txt_ocorrencia{
    width: 690px;

}

.txt_observacao{
    width: 780px;

}

.btn-portaria{
    width: 80px;
    height: 30px;
    color:blue;
    border-radius: 5px;
    border-style: solid;
    padding-top: 2px;
    text-align: center;
    text-transform: uppercase;
    box-shadow: 3px 6px #888888;

}

.btn-portaria:hover{
    height: 40px;
    background-color:khaki;
    color:lightgreen;
}

.btn-ocorrencia{
    width: 85px;
    height: 30px;
    color:blue;
    border-radius: 5px;
    border-style: solid;
    padding-top: 2px;
    text-align: center;
    text-transform: uppercase;
    box-shadow: 3px 6px #888888;

}

.btn-ocorrencia:hover{
    height: 50px;
    background-color:whitesmoke;
    color:yellow;
}

.obs-portaria{
    float: auto;
    width: 200px;
    margin-top: 60px;
}

.upload{
    margin-top: 15%;
    margin-left: 300px;
    width: 1000px;
    background-color: #DBE06C;
    box-shadow: 3px 6px #888888;

}

.erros{
    width: 600px;
    margin-left: 400px;
    float: left;
    margin-top: 200px;
    margin-bottom: auto;
    height: 100px;
    background-color:yellow;
    color: red;
    display: block;
}

.containerForm{
    width:100%;
    background-color: red;
    margin-top: 80px;
    margin-left: 250px;
}

.containerPesqusa{
    margin-top: 15%; 
}

.text{
    color:white;
    background-color: red;
}

.processarServidor{
    display: block;
    height: auto;
    width: auto;
    margin-top: 300px;
    margin-bottom: auto;
    margin-left: 250px;
    background-color:hotpink;
}

.processarServidorTabela{
    display: block;
    height: auto;
    width: auto;
    margin-top: 100px;
    background-color:darkgoldenrod;
}

.div1{
    width: 1270px;
    height: 200px;
    margin-left: 220px;
    margin-right: 10px;
    margin-top: 64px;
}

.div2{
    width: 1270px;
    height: 80px;
    margin-left: 220px;
}     

.div2.processarServidorFormulario{
    margin-left: 0px;
}

.div3{
    width: 1270px;
    height: auto;
    margin-left: 220px;
}

.div4{
    width: 1270px;
    height: 150px;
    margin-left: 220px;
    margin-top: 30px;
}

.principal{
    margin-top: 50px;
}

.fim{
    height: 50px;
    width: auto;
}

.frmConsulta{
    margin-top: 3%;
    width: auto;
    margin-left: 80px;
}

.labelPesquisa{
    float: left;
}

